.subscribe-container, .subscribe-container * {
    box-sizing: unset !important;
}
. subscribe-container h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.subscribe-container .subscribe-inputs-container label.error {
    font-weight: normal;
}
.subscribe-container .subscribe-inputs-container button[type=submit] {
    font-size: 1.17em;
    padding: .6em 1.75em;
    border-radius: .25em;
}
